@font-face {
  font-family: 'Roboto-Regular';
  src: url('../assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../assets/fonts/Roboto/Roboto-Bold.ttf');
}

:root {
  /* Colors */
  --clr-gunmetal: #292f36;
  --clr-milk-white: #fffcff;
  --clr-milk-white-dim: rgba(255, 252, 255, 0.5);
  --clr-medium-turquoise: #3cc8ff;
  --clr-vista-blue: #8ddca4;
  --clr-lavender-rose: #fb98f8;
  --clr-cloud: #c4c4c4;
  --clr-cloud-light: rgba(196, 196, 196, 0.2);
  --clr-blueberry: #3c4caa;
  --clr-davy-grey: #595959;
  --clr-davy-grey-dim: rgba(89, 89, 89, 0.1);

  /* Fonts */
  --fnt-regular: 'Roboto-Regular';
  --fnt-bold: 'Roboto-Bold';
}

body {
  background-color: var(--clr-gunmetal);
}

body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: var(--clr-milk-white);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--clr-blueberry);
}

body::-webkit-scrollbar-track {
  background-color: var(--clr-milk-white);
}
