@font-face {
  font-family: 'Roboto-Regular';
  src: url('../assets/fonts/Roboto/Roboto-Regular.ttf');
}

:root {
  /* Colors */
  --clr-gunmetal: #292f36;
  --clr-milk-white: #fffcff;

  /* Fonts */
  --fnt-regular: 'Roboto-Regular';
}

body {
  background-color: var(--clr-gunmetal);
}
